@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100;
  width: 100%;
  display: flex;
  align-items: center;
  background: #e6e6e6;
  justify-content: center;
}

.container {
  display: flex;
  max-width: 720px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  justify-content: space-between;
}

.container .box.one {
    padding: 35px 5px 0 35px;
}

.container .box.two .image {
  height: 340px;
  width: 430px;
}

.box.two .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
